/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
    -fx-background-color: #BDBDBD;
}
.background1{
    -fx-background-color:#D5D5D5;
}
.background2{
	-fx-background-color:#4C4C4C;
}
